<h1>Hello world</h1>
<p>Find me in app/views/home/index.html.erb</p>

<p>
  <%= @foo %>
</p>

<p>
  Session:
  <%= session[:foo] %>
</p>

<p>
  <form id="push-it">
    <label>
      Message
      <input/>
    </label>
    <button>Push it</button>
  </form>
</p>

<ul id="messages">
</ul>
